In [1]:
import pandas as pd

In [2]:
data = pd.Series([1,2,3,4,5])

In [3]:
print(data,type(data),data.dtype)

0    1
1    2
2    3
3    4
4    5
dtype: int64 <class 'pandas.core.series.Series'> int64

In [4]:
print(data.name)

None

In [5]:
data.name="Interger Numbers"

In [6]:
print(data.name)

Interger Numbers

In [7]:
data = pd.Series( [1,2,3,4,5], name = 'Interger Numbers')

In [8]:
print(data,data.name)

0    1
1    2
2    3
3    4
4    5
Name: Interger Numbers, dtype: int64 Interger Numbers

In [9]:
df = pd.DataFrame({ 'A' : 'X', 'B' : 'Y'},index=['0'])

In [10]:
print(df,type(df))

   A  B
0  X  Y <class 'pandas.core.frame.DataFrame'>

In [11]:
df = pd.DataFrame(
        {
        'Marvel':['Captain America','Thor','Hulk','Iron Man'],                         
        'DC':['Superman','Aquaman','Flash','Batman']
        },
        index=['I','II','III','IV']
     )

In [12]:
print(df)

              Marvel        DC
I    Captain America  Superman
II              Thor   Aquaman
III             Hulk     Flash
IV          Iron Man    Batman